.Container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.BankParent {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  /* padding: 0 calc((100% - 280px) / 2); */
  position: relative;
  margin: 0 -.4rem;
  /* padding: 0 1.6rem; */
  padding-left: 1.9rem;
  padding-right: 1.9rem;
}

.SelectBankMargins {
  margin-left: 1.5rem;
  margin-right: 2.4rem;
  line-height: 1.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #111;
  font-stretch: semi-expanded;
}